@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  line-height: 1.5;
  color: #111;
  font-size: 15px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.top-main-wrapper {
  width: 100%;
  margin: 0;
  position: relative;
}

.top-main {
  min-height: 550px;
  height: auto;
  background-image: url(./images/yaoqi-lai-19429.jpg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
}

/*
* column settings
*/
.full-width-container {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-xs-1 {
  width: 8.333%;
}

.col-xs-2 {
  width: 16.667%; 
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.333%;
}

.col-xs-5 {
  width: 41.667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333%;
}

.col-xs-8 {
  width: 66.667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.333%;
}

.col-xs-11 {
  width: 91.667%;
}

.col-xs-12 {
  width: 100%;
}

@media(min-width: 480px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .reversed-row-sm {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .col-sm-1 {
    width: 8.333%;
  }

  .col-sm-2 {
    width: 16.667%; 
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.333%;
  }

  .col-sm-5 {
    width: 41.667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.333%;
  }

  .col-sm-8 {
    width: 66.667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.333%;
  }

  .col-sm-11 {
    width: 91.667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media(min-width: 768px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
  }

  .reversed-row-md {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .col-md-1 {
    width: 960%;
    margin: 0 auto;
  }
  
  .col-md-2 {
    width: 16.667%; 
  }
  
  .col-md-3 {
    width: 25%;
  }
  
  .col-md-4 {
    width: 33.333%;
  }
  
  .col-md-5 {
    width: 41.667%;
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-7 {
    width: 58.333%;
  }
  
  .col-md-8 {
    width: 66.667%;
  }
  
  .col-md-9 {
    width: 75%;
  }
  
  .col-md-10 {
    width: 83.333%;
  }
  
  .col-md-11 {
    width: 91.667%;
  }
  
  .col-md-12 {
    width: 100%;
  }
}

@media(min-width: 992px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  .reversed-row-lg {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .col-lg-1 {
    width: 8.333%;
  }
  
  .col-lg-2 {
    width: 16.667%; 
  }
  
  .col-lg-3 {
    width: 25%;
  }
  
  .col-lg-4 {
    width: 33.333%;
  }
  
  .col-lg-5 {
    width: 41.667%;
  }
  
  .col-lg-6 {
    width: 50%;
  }
  
  .col-lg-7 {
    width: 58.333%;
  }
  
  .col-lg-8 {
    width: 66.667%;
  }
  
  .col-lg-9 {
    width: 75%;
  }
  
  .col-lg-10 {
    width: 83.333%;
  }
  
  .col-lg-11 {
    width: 91.667%;
  }
  
  .col-lg-12 {
    width: 100%;
  }
}

@media(min-width: 1100px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .reversed-row-xl {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .col-xl-1 {
    width: 8.333%;
  }
  
  .col-xl-2 {
    width: 16.667%; 
  }
  
  .col-xl-3 {
    width: 25%;
  }
  
  .col-xl-4 {
    width: 33.333%;
  }
  
  .col-xl-5 {
    width: 41.667%;
  }
  
  .col-xl-6 {
    width: 50%;
  }
  
  .col-xl-7 {
    width: 58.333%;
  }
  
  .col-xl-8 {
    width: 66.667%;
  }
  
  .col-xl-9 {
    width: 75%;
  }
  
  .col-xl-10 {
    width: 83.333%;
  }
  
  .col-xl-11 {
    width: 91.667%;
  }
  
  .col-xl-12 {
    width: 100%;
  }
}

/*
* main top
*/

.top-main {
  color: #ffffff;
}

.top-main h1 {
  text-align: center;
  margin: 120px 0 0 0;
  font-size: 60px;
  font-weight: 100;
  border-bottom: 1px solid #ffffff;
}

.top-main h2 {
  text-align: center;
  padding: 30px 0 0 0;
}

.top-main p {
  text-align: center;
  margin: 20px 40px;;
}

@media(max-width: 768px) {
  .top-main h1 {
    font-size: 39px;
    margin: 60px 0 0 0;
  }
  .top-main h2 {
    text-align: center;
    font-size: 30px;
    padding: 30px 0 0 0;
  }
}


/*
* middle section
*/

.bg-shose {
  background-image: url("./images/alex-jones-1248.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 450px;
}

.bg-sunglasses {
  background-image: url("./images/jamie-brown-68119.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 450px;
}

.bg-guy-with-cap {
  background-image: url("./images/andre-hunter-111247.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 450px;
}

.middle-column-content {
  padding: 20px;
  min-height: 350px;
  height: auto;
}

.middle-columns {
  height: auto;
}

.middle-columns h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.middle-columns h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: rgb(133, 152, 206);
}

.middle-columns p {
  text-align: center;
}

/*
* middle label
*/

.middle-label {
  background-color: rgb(236, 236, 236);
}

.middle-label h3 {
  text-align: center;
  padding: 50px;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}

.middle-label h2 {
  text-align: center;
  padding: 60px 0 0 0;
  color: rgb(133, 152, 206);
}

@media(max-width: 768px) {

  .middle-label h3 {
    text-align: center;
    padding: 20px;
    font-size: 32px;
    font-weight: 100;
  }

  .middle-label h2 {
    text-align: center;
    padding: 20px 0 0 0;
    color: rgb(133, 152, 206);
  }
}

/*
* bottom section
*/

.bottom-section-title {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  color: rgb(133, 152, 206);
  margin: 30px 0 40px 0;
}

.bottom-section-content-wrapper {
  padding: 20px;
}

.bottom-section-content-wrapper h2{
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 30px;
}

/*
* footer
*/

.footer {
  height: 400px;
  background-color: #000000;
  color: #ffffff;
}

.footer h1 {
  text-align: center;
  margin: 80px 0 0 0;
  font-size: 60px;
  font-weight: 300;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
  border-bottom: 1px solid #ffffff;
}

.footer h2 {
  text-align: center;
  padding: 60px 0 0 0;
}

@media(max-width: 768px) {
  .footer h1 {
    text-align: center;
    margin: 60px 0 0 0;
    font-size: 39px;
  }

  .footer h2 {
    text-align: center;
    padding: 30px 0 0 0;
  }
}
